{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Vocabulary list{% endblock %}

{% block content %}

<div class="container">
    <div class="heading"><h3 class="title">My vocabulary</h3></div>
    <div class="row">
        <div class="col-lg-6">
            <form method="get" action="{% url 'user_vocabulary_list' %}">
                {{search_form.search|as_crispy_field}}
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="col-lg-4"></div>

    </div>
    <div>
        <div class="row">
            <h3>Words list</h3>
        </div>
        <div class="row">
            {% if words %}
            <table class="table table-stripped">
                {% for word in words %}
                    <tr>
                        <td>
                            <a><b>{{word.word}}</b></a>
                        </td>
                        <td>
                            {% if not word.added %}
                            <button class="btn btn-primary btn-outline-primary add-to-list" data-word="{{word.id}}">Add to my list</button>
                            {% else %}
                            <button class="btn btn-info btn-outline-primary remove-from-list" data-word="{{word.id}}">Remove from my list</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block customJs %}
    <script src="http://{{ request.get_host }}{% static 'js/vocabulary.js' %}"></script>
{% endblock %}