{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load get_translation %}
{% load has_group %}
{% load i18n %}

{% block title %}Vocabulary list{% endblock %}

{% block content %}

<div class="container">
    <div class="heading"><h3 class="title">{% trans 'myVocabulary' %}</h3></div>
    <div class="row">
        <div class="col-lg-6">
            <form method="get" action="{% url 'user_vocabulary_list' %}">
                {{search_form.search|as_crispy_field}}
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="col-lg-4"></div>

    </div>
    <div>
        <div class="row">
            <h3>Words list</h3>
        </div>
        <div class="row">
            {% if words %}
            <table class="table table-stripped">
                {% for word in words %}
                <input type="hidden" id="word_add_route" value="{% url 'add_word_to_list' %}" />
                {% if not word.external_id %}
                <tr>
                    <td>
                        <a class="text-dark fw-bold" href="{% url 'show_word_card' word.word_id %}">{{ word.translation }}</a>
                    </td>
                    {% if request.user|has_group:"basic_sub,premium_sub" %}
                    <td>
                        <button type="button" class="btn btn-primary btn-outline-primary add-to-list" data-word="{{word.word_id}}">Add
                            to my list
                        </button>
                    </td>
                    {% endif %}
                </tr>
                {% else %}
                <tr>
                    <td>
                        <a class="text-dark fw-bold" href="{% url 'show_word_card' word.external_id %}">
                           {{ word.translation }}</a>
                    </td>
                    <td>
                        <button class="btn btn-info btn-outline-primary remove-from-list"
                                data-word="{{word.external_id}}">Remove from my list
                        </button>
                    </td>
                </tr>
                {% endif %}

                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block customJs %}
<script src="http://{{ request.get_host }}{% static 'js/vocabulary.js' %}"></script>
{% endblock %}