{% extends "base.html" %}
{% load static %}
{% load get_translation %}
{% load crispy_forms_tags %}
{% load has_group %}
{% load replace_word %}

{% block content %}
<div class="container">
    <div class="title-block p-4 row">
        <div class="d-flex align-items-center mb-2">
            <h2 class="mb-0" id="word_heading">{% if additional.translation_on_user_lang %}{{additional.translation_on_user_lang}} - {% endif %}<span>{{word.translation}}</span></h2>
            <img class="px-2"
                 src="{% static 'img/sound.png' %}"
                 height="25" id="sound">
        </div>
        {% if word.transcription %}
        <p>{{word.transcription}}</p>
        {% endif %}
        <div class="row">
            <img src="{% if word.image %}{% get_media_prefix %}{{ word.image }} {% else %} {% static 'img/word_default.png' %} {% endif %}"
                 id="word-image" class="col-5" alt="img">
            {% if not word_form %}
            <div class="col-7">
                <h4>Your examples or notes:</h4>
                {{word.examples|linebreaks}}
                {% if additional.examples %}
                <hr>
                <h4>Examples from library:</h4>
                {% for example in additional.examples %}
                <p>{{ example.example|replace_word:word.translation|safe }} <a href="{% url 'book_page' example.book %}">Go
                    to book</a></p>
                {% endfor %}
                {% endif %}
                {% if additional.synonyms %}
                <hr>
                <h4>Synonyms</h4>
                <div>
                    {% for synonym in additional.synonyms %}
                    <a class="text-primary" href="{% url 'show_word_card' synonym.id %}">{% get_translation synonym
                        request.user.learned_language %}</a>
                    {% if not forloop.last %} | {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% if request.user|has_group:"basic_sub,premium_sub" %}
        <a href="{% url 'edit_word_card' word.external_id %}" class="btn btn-primary mt-5" style="width: 300px">Edit
            translation</a>
        {% endif %}
        {% if word_form %}

        <div class="col-5">
            <form method="post" action="{% url 'upload_word_image' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file_id"><a class="btn btn-primary">Load word image</a></label>
                <input type="file" id="file_id" data-word="{{ word.external_id }}" name="file"/>
            </form>
        </div>
        <div class="col-md-7">
            <form method="post" action="{% url 'save_word' %}">
                <p>{{ word_form.examples|as_crispy_field }}</p>
                {% csrf_token %}
                <input type="hidden" value="{{word.external_id}}" name="word_id"/>
                <button type="submit" class="btn btn-primary mt-2">Update profile</button>
            </form>
        </div>
        {% endif %}

    </div>
    <button class="btn btn-info btn-outline-primary remove-from-list mt-2 text-center col-2"
            data-word="{{word.external_id}}">Remove from my list
    </button>
</div>

{% endblock %}

{% block customJs %}
<script>
    let upload_btn = document.getElementById("file_id");
    let word_image = document.getElementById("word-image");
    if (upload_btn) {
        upload_btn.addEventListener('change', (e) => {
            e.preventDefault(e);
        form = upload_btn.parentElement;
        let formData = new FormData(form);
        formData.append('id', upload_btn.dataset.word )
        formData.append('type', 'words')

        axios.post(form.action, formData)
        .then(resp => {
            if(resp.status === 200) {
                word_image.src = resp.data.path;
            }
        })
        })
    }

    function speak() {
    let text = document.getElementById('word_heading').children[0].innerText;
    speechSynthesis.speak(new SpeechSynthesisUtterance(text));
}
   document.getElementById('sound').addEventListener('click', (e) => {
        speak();
   })

</script>
{% endblock %}