{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="mw-500 mx-auto">
        <h2>Register</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}

            <div>
                {{ form.email|as_crispy_field }}
            </div>

            <div>
                {{ form.first_name|as_crispy_field }}
            </div>
            <div>
                {{ form.last_name|as_crispy_field }}
            </div>
            <div>
                {{ form.date_of_birth|as_crispy_field }}
            </div>
            <div>
                {{ form.password1|as_crispy_field }}
            </div>
            <div>
                {{ form.password2|as_crispy_field }}
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}
